@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #e1c9a0;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
}

a {
    color:#fff
}

h1 {
    /* line-height: 150%; */
}

.btn {
    border: 0;
    background-color: #fff;
    color: #e1c9a0;
    padding: 15px 20px;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.btn:focus {
    outline: 0;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    transition: margin 0.5s ease-out;
}

.screen.up {
    margin-top: -100vh;
}

.lang-list, .insects-list {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.lang-list, .insects-list li {
    margin: 10px;
}

.choose-lang-btn, .choose-insect-btn {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    width: 150px;
    height: 150px;
}

.choose-lang-btn:hover, .choose-insect-btn:hover {
    background-color: #fff;
    color: #4c4c4c;
}

.choose-lang-btn:active, .choose-insect-btn:active {
    background-color: rgba(255,255,255,0.7);
}

.choose-lang-btn img, .choose-insect-btn img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

/* INTRO_TEXT */
.intro-text-box {
    /* background-color: rgba(255,255,255,0.1); */
    color: rgb(114, 114, 114);
    margin: 60px 70px auto 70px;
    padding: 40px;
    /* box-shadow: 0 30px 40px rgba(0,0,0,.1); */
    line-height: 160%;
    text-align: left;
    width: 60%;
    height: 15rem;
    font-size: 1.2rem;
    /* border: 6px rgb(135, 127, 127) dotted; */
    /* border-radius: 2rem; */

}

.btn#start-btn {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px;
    width: 150px;
    height: 60px;
    margin-bottom: 60px;
    transition: all 1s;
    border-radius: 0.6rem;
}

.btn#start-btn.hidden {
    opacity: 0;
    transition: all 1s;
}

/* CHOOSE INSECT */
.choose-insect-btn {
    font-size: 0.9rem;
    height: 160px;
}

/* GAME: */

.game-container {
    position: relative;
}

.time, .score {
    position: absolute;
    top: 20px;
}

.time {
    left: 20px;
}

.score {
    right: 20px;
}

.message {
    line-height: 1.7;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    padding: 20px;
    z-index: 100;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: transform 0.4s ease-in;
}

.message.visible {
    opacity: 1;
    transform: translate(-50%, 150%);
}

.insect {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.3s ease-in-out;
}

.insect.caught {
    transform: translate(-50%, -50%) scale(0);
}

.insect img {
    width: 100px;
    height: 100px;
}

@media(max-width: 600px){
    .time, .score {
        font-size: 0.8rem;
    }
}